# ------------------------------------
# PYTHON / DJANGO
# ------------------------------------
*.pyc
__pycache__/
.env

# ------------------------------------
# ENTORNO VIRTUAL
# ------------------------------------
.venv/
venv/
env/
VENV/
.Python
pip-selfcheck.json
.vscode/