# Entornos virtuales y caché
venv/
__pycache__/
*.py[cod]
*.sqlite3

# Archivos sensibles
*.json
*.env
*.log
server/firebase/credenciales.json

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración IDE
.vscode/
.idea/
